### Classes and Objects

In [9]:
class Student:
    
    def __init__(self):
        self.name = 'Nihar'
        self.age = 20
        self.marks = 95
        print('I am great')
        
    def talk(self):
        print('Name - ',self.name)
        print('Age - ',self.age)
        print('Marks - ',self.marks)

In [31]:
class Student:
    
    def __init__(self,name,age,**marks):
        
        self.name=name
        self.age=age
        self.marks=marks
        
    def display(self):
        
        print('Name - ',self.name)
        print('Age - ',self.age)
        print('Marks - ',self.marks)

In [32]:
s2=Student('Nihar',26,sci=95,eng=96,math=97)

In [33]:
s2.display()

Name -  Nihar
Age -  26
Marks -  {'sci': 95, 'eng': 96, 'math': 97}

In [34]:
s2.marks

{'sci': 95, 'eng': 96, 'math': 97}

### Ecapsulation

In [48]:
class Car:
    
    def __init__(self):
        self.car='alto'
        self._new_speed=60 
        self.__new_speed=80 #private attribute
        
    def get_new_speed(self): #getter function, used to get value of private attribute
        return self.__new_speed
        
    def set_new_speed(self,speed): #setter function, used to set value of private attribute
        self.__new_speed=speed
        
    def __car(self): #This is my private method
        print('I am here')
    
    def mycar(self): #I access the content inside private method by calling it inside another function in my class
        self.__car()

In [49]:
print(s1.mycar())

I am here
None

In [40]:
s1.set_new_speed(100)
print(s1.get_new_speed())

100

### inheritance

In [59]:
class Polygon:
    
    __width=None
    __height=None
    
    def set_dimensions(self,width,height):
        self.__width=width
        self.__height=height
        
    def get_width(self):
        return self.__width
    
    def get_height(self):
        return self.__height
    
    
class Shape:
    __color=None
    
    def set_color(self,color):
        self.__color=color
    
    def get_color(self):
        return self.__color
        
class Square(Polygon,Shape):
    
    def area(self):
        return self.get_width()*self.get_height()

In [60]:
s1=Square()

In [61]:
s1.set_dimensions(10,8)

In [62]:
s1.area()

80

In [63]:
s1.set_color('orange')

In [64]:
s1.get_color()

'orange'

#### super function

In [77]:
class Parent:
    def __init__(self):
        print('I am Parent __init__')
        
class Parent2:
    def __init__(self):
        print('I am Parent2 __init__')

class Child(Parent2,Parent):
    def __init__(self):
        print('I am child __init__')
        super().__init__()
        Parent.__init__(self)

s1=Child()

I am child __init__
I am Parent2 __init__
I am Parent __init__

### Composition

In [81]:
class Salary:
    
    def __init__(self,pay,rewards):
        self.pay=pay
        self.rewards=rewards
        
    def annual_salary(self):
        return self.pay+self.rewards
    

class Employee:
    
    def __init__(self,name,designation,pay,rewards):
        self.name=name
        self.des=designation
        self.final_salary=Salary(pay,rewards)
    
    
emp=Employee('Nihar','PD',24000,23000)
print(emp.final_salary.annual_salary())

47000

### Aggregation

In [82]:
class Salary:
    
    def __init__(self,pay,rewards):
        self.pay=pay
        self.rewards=rewards
        
    def annual_salary(self):
        return self.pay+self.rewards
    
class Employee:
    
    def __init__(self,name,designation,sal):
        self.name=name
        self.des=designation
        self.final_salary=sal
    
sal=Salary(23000,24000)    
emp=Employee('Nihar','PD',sal.annual_salary())
print(emp.final_salary)

47000

### Abstract Classes

In [85]:
from abc import ABC, abstractmethod

class Shape(ABC):
    def __init__(self):
        pass
    @abstractmethod
    def area(self):
        pass
    @abstractmethod
    def perimeter(self):
        pass
    
class Square(Shape):
    def __init__(self,side):
        self.side=side
    
    def area(self):
        return self.side*self.side
    
    def perimeter(self):
        return self.side*2

In [89]:
s1=Square(4)

In [90]:
s1.area()

16

In [91]:
s1.perimeter()

8

### operator overloading

In [103]:
class Books:
    def __init__(self,numb):
        self.num=numb
        
    def __add__(self,other):
        return self.num+other.num
    
    def __sub__(self,other):
        return self.num-other.num
    
    def __mul__(self,other):
        return self.num*other.num
    
b1=Books(2)
b2=Books(4)
print(b1+b2)
print(b2-b1)
print(b2*b1)

6
2
8

In [106]:
class Books:
    def __init__(self,numb):
        self.num=numb
        
    def __add__(self,other):
        return self.num+other.num
    
    def __sub__(self,other):
        return self.num-other.num
    
    def __mul__(self,other):
        return self.num*other.num
    
    def __gt__(self,other):
        return self.num>other.num
    
python=Books(380)
java=Books(480)
print(python>java)
print(java-python)

False
100

In [108]:
class Python:
    def __init__(self,page):
        self.page=page
        
    def __gt__(self,other):
        return self.page>other.page
        
        
class Java:
    def __init__(self,page):
        self.page=page
    
b1=Python(380)
b2=Java(480)
b1>b2

False

### Enumerate,Zip and yield

In [109]:
list_1=[20,21,22,23]
for i,v in enumerate(list_1):
    print(i,v)

0 20
1 21
2 22
3 23

In [110]:
list_1=[20,21,22,23]
list_2=[30,31,32,33]
x=zip(list_1,list_2)
for i in x:
    print(i)

(20, 30)
(21, 31)
(22, 32)
(23, 33)

In [115]:
def even():
    for i in range(0,100):
        if i%2==0:
            yield i
        
result=even()

In [118]:
for i in range(0,5):
    print(next(result))

0
2
4
6
8